.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

h1 {
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	margin-bottom: 10px;
}

.button {
	font: bold 13px "Helvetica Neue", Helvetica, Arial, clean, sans-serif !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	display: inline-block;
	color: white;
	padding: 5px 10px 5px;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	background: #333355 url(button_overlay.png) repeat-x scroll 0 0;
	border-style: none;
	text-align: center;
	overflow: visible;
}

.button:hover,

.button:focus {
	background-position: 0 -50px;
	color: white;
}

.button:active {
	background-position: 0 -100px;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow: none;
}
.info-legend {
            box-shadow: 0 1px 7px rgba(0,0,0,0.65);
            padding: 2px;
            background-color: white;            
            -moz-border-radius: 4px 4px 4px 4px;
            -webkit-border-radius: 4px 4px 4px 4px;
                    border-radius: 4px 4px 4px 4px;
        }
.leaflet-control-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#222222;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    padding:6px 8px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}.classname:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}.classname:active {
    position:relative;
    top:1px;
}.leaflet-control-button { cursor: pointer; }